<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Book</th>
      <th scope="col">Rented by</th>
      <th scope="col">Rented on</th>
      <th scope="col">Deadline</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rentedBook of rentedBooks">
      <th scope="row">{{ rentedBook.id }}</th>
      <td>{{ rentedBook.book.title }}</td>
      <td>{{ rentedBook.renter.username }}</td>
      <td>{{ rentedBook.rentingDate }}</td>
      <td>{{ rentedBook.returnDate }}<span *ngIf="rentedBook.daysRemaining > 0"> ({{rentedBook.daysRemaining}} days)</span></td>
      <td><span *ngIf="isOverdue(rentedBook)" class="badge bg-danger">Overdue</span></td>
      <td>
        <button *ngIf="isUserAdmin" class="btn btn-sm btn-secondary" (click)="returnBook(rentedBook)">Return</button>
      </td>
    </tr>
    </tbody>
</table>
