<div class="container d-flex flex-wrap justify-content-center">
  <form [formGroup]="bookForm" class="m-3" (ngSubmit)="submitBook()">
    <div class="form-group mb-3">
      <label for="title-input">Title<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="title-input" formControlName="title">
    </div>
    <div class="form-group mb-3">
      <label for="subtitle-input">Subtitle</label>
      <input type="text" class="form-control" id="subtitle-input" formControlName="subtitle">
    </div>
    <div class="form-group mb-3">
      <label for="author-select">Authors<span class="text-danger">*</span></label>
      <div class="row">
        <div class="col-10">
          <button class="accordion-button form-control collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#authors-list" aria-expanded="false" aria-controls="authors-list">
            {{selectedAuthors.length ? selectedAuthors.length + ' selected' : 'Select authors'}}
          </button>
          <div id="authors-list" class="collapse">
            <input type="text" class="form-control my-2" [formControl]="searchField" placeholder="Search" (keyup)="filterAuthors()">
            <ul class="list-group author-list">
              <li *ngFor="let author of filteredAuthors" class="list-group-item" [class]="isSelected(author) ? 'active' : ''" (click)="select(author)">
                {{getFullName(author)}}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal">+</button>
        </div>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="date-input">Creation date<span class="text-danger">*</span></label>
      <input type="date" class="form-control" id="date-input" formControlName="creationDate">
    </div>
    <div class="form-group mb-3">
      <label for="isbn-input">ISBN<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="isbn-input" formControlName="isbn">
    </div>
    <div class="form-group mb-3">
      <label for="quantity-input">Quantity<span class="text-danger">*</span></label>
      <input type="number" class="form-control" id="quantity-input" formControlName="quantity">
    </div>
    <div class="form-group">
      <label for="image-upload">Image</label>
      <input [disabled]="bookForm.controls['imageUrl'].value" id="image-upload" type="file" class="form-control" (change)="onFileChanged($event)">
    </div>
    <div class="form-group mb-3">
      <label for="image-url-input">Image Url</label>
      <input type="text" class="form-control" id="image-url-input" formControlName="imageUrl">
    </div>

    <button type="submit" [disabled]="!bookForm.valid" class="btn btn-success my-3">Submit</button>
    <p>{{bookForm.errors}}</p>
  </form>
  <div *ngIf="bookForm.controls['imageUrl'].value" class="m-3 image">
    <img [src]="bookForm.controls['imageUrl'].value" class="w-100">
  </div>
  <div *ngIf="!bookForm.controls['imageUrl'].value && imgSrc" class="m-3 image">
    <img [src]="imgSrc" class="w-100">
  </div>
</div>
<app-modal-container title="Add a new author" (componentRef)="onRefLoaded($event)" [component]="authorFormComponent"></app-modal-container>

