<div class="container">
  <div class="d-flex mt-3 flex-column align-items-center">
    <div class="card bg-dark p-3">
      <img class="book-cover" [src]="book?.imageUrl">
      <div class="d-flex flex-column align-items-center mb-3">
          <div class="col"><h2 class="text-center">{{ book?.title }}</h2></div>
          <div class="col-6 text-center"><h5>{{ book?.subtitle }}</h5></div>
          <div class="col">By {{ authors }}</div>
          <div *ngIf="available" class="col"><span class="badge bg-success">Available</span></div>
          <div *ngIf="!available"><span class="badge bg-secondary">Out of stock</span></div>
          <button class="btn btn-success mt-2" [disabled]="!available" (click)="rentBook()">Rent book</button>
      </div>
      <span class="d-flex flex-row-reverse m-1" *ngIf="isUserAdmin">
        <button type="button" class="btn btn-sm btn-outline-secondary mx-1" (click)="onDelete()">
          <img src="../../../assets/trash-fill.svg">
        </button>
        <button type="button" class="btn btn-sm btn-outline-primary mx-1" [routerLink]="'/book/edit/' + book?.id">
          <img src="../../../assets/pencil-fill.svg">
        </button>
      </span>
    </div>
  </div>
</div>
