<nav class="navbar navbar-dark bg-dark justify-content-between px-2">
  <a class="navbar-brand mx-1" routerLink="/">
    <img src="../../../assets/book-half.svg" width="30" height="30">
    <span class="ms-2 d-none d-sm-inline">Crispy Library</span>
  </a>
  <a *ngIf="!user" class="nav-link text-light" routerLink="login">Log in</a>
  <app-dropdown-menu *ngIf="user" [mainButton]="username" [dropdownItems]="dropdownItems"></app-dropdown-menu>
</nav>
