<div class="nav-item dropdown">
  <a class="nav-link text-light dropdown-toggle" role="button" data-bs-toggle="dropdown" id="header-dropdown" aria-expanded="false">
    {{mainButton}}
  </a>
  <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="header-dropdown">
    <li *ngFor="let item of dropdownItems">
      <a *ngIf="item.link" [routerLink]="item.link" class="dropdown-item">{{item.text}}</a>
      <a *ngIf="item.action" (click)="invokeAction(item.action)" class="dropdown-item btn">{{item.text}}</a>
    </li>
  </ul>
</div>
