<div class="container card my-5 bg-dark">
  <h2 class="my-1">Rented books</h2>
  <app-rental-table *ngIf="rentedBooks?.length" [rentedBooks]="rentedBooks"></app-rental-table>
  <div class="mx-auto my-3" *ngIf="!rentedBooks?.length">There are no rented books at this moment.</div>
</div>
