<div class="container card bg-dark my-5">
  <app-user-details class="card-header my-1" [user]="user"></app-user-details>
  <h5 class="mt-3">Rented books</h5>
  <app-rental-table *ngIf="rentedBooks?.length" [rentedBooks]="rentedBooks"></app-rental-table>
  <div class="my-3 mx-auto" *ngIf="!rentedBooks?.length">You haven't rented any books yet...</div>
</div>
