<div class="container my-5">
  <div class="sticky">
    <app-book-search-form (search)="onSearch($event)" (sort)="onSort($event)"></app-book-search-form>
  </div>
  <button routerLink="/book/new" class="btn btn-outline-light d-block mx-auto">Add new book</button>
  <div class="d-flex justify-content-center flex-wrap" (window:scroll)="onScroll()">
    <app-book-card class="mx-3 my-3" *ngFor="let book of books" (delete)="removeBook($event)" [book]="book"></app-book-card>
  </div>
</div>
