<form [formGroup]="userForm" class="m-3" (ngSubmit)="submitUser()">
  <div class="form-group mb-3">
    <label for="username-input">Username<span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="username-input" formControlName="username">
  </div>
  <div class="form-group mb-3">
    <label for="password-input">Password<span class="text-danger">*</span></label>
    <input type="password" class="form-control" id="password-input" formControlName="password">
  </div>
  <div class="form-group mb-3">
    <label for="confirm-password-input">Confirm Password<span class="text-danger">*</span></label>
    <input type="password" class="form-control" [class]="userForm.errors?.matching ? 'is-invalid' : ''" id="confirm-password-input" formControlName="confirmPassword">
    <div class="invalid-feedback">Passwords must match!</div>
  </div>
  <div class="form-group mb-3">
    <label for="first-name-input">First Name<span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="first-name-input" formControlName="firstName">
  </div>
  <div class="form-group mb-3">
    <label for="last-name-input">Last Name<span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="last-name-input" formControlName="lastName">
  </div>
  <button type="submit" [disabled]="!userForm.valid" class="btn btn-success my-3">Submit</button>
</form>
