<form [formGroup]="authorForm">
  <div class="form-group mb-3">
    <label for="first-name-input">First Name<span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="first-name-input" formControlName="firstName">
  </div>
  <div class="form-group mb-3">
    <label for="middle-name-input">Middle Name</label>
    <input type="text" class="form-control" id="middle-name-input" formControlName="middleName">
  </div>
  <div class="form-group mb-3">
    <label for="last-name-input">Last Name<span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="last-name-input" formControlName="lastName">
  </div>
  <button [disabled]="!authorForm.valid" class="btn btn-success mb-3" type="submit" (click)="submitAuthor()" data-bs-dismiss="modal">Submit</button>
</form>
