<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Username</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Role</th>
      <th><button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal">Add new user</button></th>
    </tr>
  </thead>
  <tbody>
    <tr class="user-row" *ngFor="let user of users" (click)="navigateProfile(user.username)">
      <th scope="row">{{ user.id }}</th>
      <ng-template [ngIf]="user.id !== editUserId">
      <td>{{ user.username }}</td>
      
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ parseRole(user.role) }}</td>
      <td>
        <button class="btn btn-sm btn-warning me-2" (click)="editUser(user); onClick($event);">Edit</button>
        <button class="btn btn-sm btn-danger" (click)="deleteUser(user.username); onClick($event);">Remove</button>
      </td>
      </ng-template>
      <ng-template [ngIf]="user.id === editUserId">
        <td><input (click)="onClick($event)" class="form-control w-auto" [class]="editErrors['username'] ? 'is-invalid': ''" [(ngModel)]="user.username"></td>
        <td><input (click)="onClick($event)" class="form-control w-auto" [class]="editErrors['firstName'] ? 'is-invalid': ''" [(ngModel)]="user.firstName"></td>
        <td><input (click)="onClick($event)" class="form-control w-auto" [class]="editErrors['lastName'] ? 'is-invalid': ''" [(ngModel)]="user.lastName"></td>
        <td>{{ parseRole(user.role) }}</td>
        <td>
          <button class="btn btn-sm btn-success me-2" (click)="saveUser(user); onClick($event)">Save</button>
          <button class="btn btn-sm btn-secondary" (click)="cancelEdit(); onClick($event)">Cancel</button>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>
<app-modal-container title="Input user information" (componentRef)="onRefLoaded($event)" [component]="userFormComponent"></app-modal-container>

