@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/variables";

.dark {
  background-color: $gray-800;
}

app-header {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#outlet {
  position: relative;
  top: 40px;
}