<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="ol-md-6 col-lg-4 m-auto mt-5 border border-secondary rounded">
    <div class="bg-dark p-3 rounded-top">
      <h5 class="h5 text-light">Welcome.</h5>
      <h6 class="h6 text-light">Enter your credentials or ask an administrator to create an account for you.</h6>
    </div>
    <div class="p-3">
      <div class="mb-3">
        <label for="username-input" class="form-label">Username</label>
        <input type="text" formControlName="username" class="form-control" id="username-input" name="uname">
      </div>
      <div class="mb-3">
        <label for="password-input" class="form-label">Password</label>
        <input type="password" formControlName="password" class="form-control" id="password-input" name="password">
      </div>
      <button [disabled]="!loginForm.valid" class="btn btn-success">Log in</button>
      <p class="text-danger">{{error}}</p>
    </div>
  </form>
</div>
