<div class="d-flex align-items-center">
  <span class="me-3">Sort by:</span>
  <div>
    <select class="form-select" [formControl]="sortFormControl" (change)="onSort()">
      <option selected disabled></option>
      <option value="title">Title</option>
      <option value="creation-date">Creation date</option>
    </select>
  </div>
</div>
