/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";

html {
  background-color: $gray-800;
}

* {
  color: $gray-100;
}