.card-w {
  width: 18rem;;
}

.img-size {
  height: auto;
  min-height: 24rem;
  max-height: 24rem;
  width: auto;
  max-width: 18rem;
}

.book-card {
  .admin-controls {
    display: none;
  }
}

.book-card:hover {
  cursor: pointer;
  .admin-controls {
    display: block;
  }
}