<div class="card h-100 card-w book-card bg-dark" (click)="onClick()">
  <img [src]="book.imageUrl" class="card-img-top m-auto img-size" alt="No image">
  <div class="card-body">
    <h5 class="card-title">{{ book.title }}</h5>
    <p class="card-text">{{ book.subtitle }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-dark text-light">{{ authorFullNames }}</li>
  </ul>
  <div class="card-body">
    <button *ngIf="available" type="button" class="btn btn-sm btn-success mx-1" (click)="rentBook()">Rent</button>
    <span class="float-end admin-controls" *ngIf="userRole === 'ROLE_ADMIN'">
      <button type="button" class="btn btn-sm btn-outline-primary mx-1" [routerLink]="'/book/edit/' + book.id">
        <img src="../../../assets/pencil-fill.svg">
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary mx-1" (click)="onDelete($event)">
        <img src="../../../assets/trash-fill.svg">
      </button>
    </span>
  </div>
</div>
